<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" th:href="@{/css/vendor/bootstrap/css/bootstrap.min.css}"
			  href="../static/css/vendor/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/flat-ui.css}" href="../static/css/flat-ui.css" />
		<link rel="stylesheet" th:href="@{/css/font-awesome.css}" href="../static/css/font-awesome.css"/>
		<link rel='stylesheet' th:href="@{/css/select2.css}" href="../static/css/select2.css"/>
		<link rel='stylesheet' th:href="@{/css/toastr.css}" href="../static/css/toastr.css"/>

		<link rel='stylesheet' th:href="@{/css/fullcalendar.css}" href="../static/css/fullcalendar.css"/>

		<link rel='stylesheet' th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
	</head>

	<body>
		<main class="entity-main hidden-sidebar">
			<div id='calendar'></div>
		</main>

		<aside class="navigation-sidebar hidden-sidebar">
			<div class="sidebar-toggler fa-lg fa fa-bars active"></div>
			<nav>
				<ul>
					<li class="nav-item">
						<a class="nav-link active" href="javascript:void(0);">
							<span class="fa fa-calendar fa-lg nav-icon"></span>
							<span class="nav-text">Calendar</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="users">
							<span class="fa fa-user fa-lg nav-icon"></span>
							<span class="nav-text">Users</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="equipment">
							<span class="fa fa-camera fa-lg nav-icon"></span>
							<span class="nav-text">Equipment</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="locations">
							<span class="fa fa-flag fa-lg nav-icon"></span>
							<span class="nav-text">Locations</span>
						</a>
					</li>
				</ul>
			</nav>
			<a class="sign-out" href="logout">
				<span class="fa fa-sign-out fa-lg"></span>
				<span>Logout</span>
			</a>
		</aside>

		<aside class="filter-sidebar hidden-sidebar">
			<div class="filter-sidebar-toggler fa-lg fa fa-filter active"></div>
			<div class="form-group">
				<label class="form-control-label" for="location">Location:</label>
				<div  class="input-container">
					<select id="filter-location" name="location" class="form-control select select-primary select-block"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="form-control-label">User:</label>
				<div class="input-container">
					<select id="filter-user" name="user" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="form-control-label">Camera:</label>
				<div class="input-container">
					<select id="filter-camera" name="camera" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="form-control-label">Lens:</label>
				<div class="input-container">
					<select id="filter-lens" name="lens" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="form-control-label">Light:</label>
				<div class="input-container">
					<select id="filter-light" name="light" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="form-control-label">Sound:</label>
				<div class="input-container">
					<select id="filter-sound" name="sound" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="form-control-label">Accessory:</label>
				<div class="input-container">
					<select id="filter-accessory" name="accessory" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
				</div>
			</div>
		</aside>

		<div id="popover-container" class="hide">
			<div class="col-xs-12">
				<div class="date"><strong></strong></div>
			</div>
			<div class="col-xs-12 description-container">
				<div><strong>Description: </strong><span class="description"></span></div>
			</div>
			<div class="col-xs-12">
				<div><strong>Author:</strong><span class="author"></span></div>
			</div>
			<div class="col-xs-12">
				<div><strong>Created:</strong><span class="created"></span></div>
			</div>
			<div class="col-xs-12 location-container">
				<div><strong>Location:</strong><span class="location"></span></div>
			</div>
			<div class="col-xs-12">
				<div><strong>Users:</strong><ul class="users"></ul></div>
			</div>
			<div class="col-xs-12 camera-container">
				<div><strong>Camera:</strong><ul class="camera"></ul></div>
			</div>
			<div class="col-xs-12 lens-container">
				<div><strong>Lens:</strong><ul class="lens"></ul></div>
			</div>
			<div class="col-xs-12 light-container">
				<div><strong>Light:</strong><ul class="light"></ul></div>
			</div>
			<div class="col-xs-12 sound-container">
				<div><strong>Sound:</strong><ul class="sound"></ul></div>
			</div>
			<div class="col-xs-12 accessory-container">
				<div><strong>Accessory:</strong><ul class="accessory"></ul></div>
			</div>
			<button type="button" class="btn btn-primary history"><i class="fa fa-history"></i>history</button>
			<button type="button" class="btn btn-primary editing"><i class="fa fa-pencil-square-o"></i>edit</button>
			<button type="button" class="btn btn-danger delete"><i class="fa fa-trash-o "></i>delete</button>
		</div>

		<div class="modal modal-edit fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Event booking</h4>
					</div>
					<div class="modal-body">
						<div class="popup-container">
							<form sec:authorize="hasAuthority('event_edit')" autocomplete="off" class="event-form">
								<div class="left-part">
									<div class="form-group row">
										<label class="form-control-label" for="name">Name:</label>
										<div class="input-container">
											<input type="text" class="form-control" name="name" id="name"/>
										</div>
									</div>
									<div class="form-group row">
										<label class="form-control-label" for="description">Description:</label>
										<div class="input-container">
											<input type="text" class="form-control" name="description" id="description"/>
										</div>
									</div>
									<div class="form-group row">
										<label class="form-control-label" for="start-date">Start date:</label>
										<div class="date-container">
											<input type="text" class="form-control date" name="start-date" id="start-date"/>
										</div>
										<div class="time-container">
											<select id="start-time" name="start-time" class="time form-control select select-primary select-block"></select>
										</div>
									</div>
									<div class="form-group row">
										<label class="form-control-label" for="end-date">Finish date:</label>
										<div class="date-container">
											<input type="text" class="form-control date" name="end-date" id="end-date"/>
										</div>
										<div class="time-container">
											<select id="end-time" name="end-time" class="time form-control select select-primary select-block"></select>
										</div>
									</div>
									<div class="form-group row user">
										<label class="form-control-label">User:</label>
										<div class="input-container">
											<select id="user" name="user" multiple="multiple" class="form-control multiselect multiselect-primary select-primary">
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="form-control-label">Recording:</label>
										<div class="input-container checkbox-container">
											<label class="checkbox" for="recording">
												<input type="checkbox" name="recording" id="recording"/>
											</label>
										</div>
										<label class="form-control-label series">Series:</label>
										<div class="input-container checkbox-container">
											<label class="checkbox" for="series">
												<input type="checkbox" name="series" id="series"/>
											</label>
										</div>
									</div>
								</div>
								<div class="right-part hidden-part">
									<div class="form-group row">
										<label class="form-control-label" for="location">Location:</label>
										<div  class="input-container">
											<select id="location" name="location" class="form-control select select-primary select-block"></select>
										</div>
									</div>
									<div class="form-group row">
										<label class="form-control-label">Camera:</label>
										<div class="input-container">
											<select id="camera" name="camera" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
										</div>
									</div>
									<div class="form-group row">
										<label class="form-control-label">Lens:</label>
										<div class="input-container">
											<select id="lens" name="lens" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
										</div>
									</div>
									<div class="form-group row">
										<label class="form-control-label">Light:</label>
										<div class="input-container">
											<select id="light" name="light" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
										</div>
									</div>
									<div class="form-group row">
										<label class="form-control-label">Sound:</label>
										<div class="input-container">
											<select id="sound" name="sound" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
										</div>
									</div>
									<div class="form-group row">
										<label class="form-control-label">Accessory:</label>
										<div class="input-container">
											<select id="accessory" name="accessory" multiple="multiple" class="form-control multiselect multiselect-primary select-primary"></select>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" id="save" class="btn btn-primary">Save changes</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal modal-history fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">History</h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal modal-series fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h5 class="modal-title">Which event should be edited?</h5>
					</div>
					<div class="modal-footer">
						<button type="button" id="cancel-event-edit" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						<button type="button" id="series-event-edit" class="btn btn-primary" data-dismiss="modal">This and the following series</button>
						<button type="button" id="single-event-edit" class="btn btn-primary" data-dismiss="modal">Only this event</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<script th:inline="javascript">
			var USERS = /*[[${users}]]*/ null;
			var EQUIPMENT = /*[[${equipment}]]*/ null;
			var LOCATIONS = /*[[${locations}]]*/ null;
			var EVENTS = /*[[${events}]]*/ null;
			var IS_EDITABLE = /*[[ ${#authorization.expression("hasAuthority('event_edit')")} ]]*/ null;
			var CURRENT_USERNAME = /*[[ ${#authentication.name} ]]*/ null;
		</script>

		<script th:src="@{/js/lib/jquery.min.js}" src="../static/js/lib/jquery.min.js"></script>
		<script th:src="@{/js/lib/bootstrap.js}" src="../static/js/lib/bootstrap.js"></script>
		<script th:src="@{/js/lib/flat-ui.js}" src="../static/js/lib/flat-ui.js"></script>
		<script th:src="@{/js/lib/select2.full.js}" src="../static/js/lib/select2.full.js"></script>
		<script th:src="@{/js/lib/radiocheck.js}" src="../static/js/lib/radiocheck.js"></script>
		<script th:src="@{/js/lib/bootbox.js}" src="../static/js/lib/bootbox.js"></script>
		<script th:src="@{/js/lib/toastr.min.js}" src="../static/js/lib/toastr.min.js}"></script>
		<script th:src="@{/js/common.js}" src="../static/js/common.js"></script>

		<script th:src="@{/js/lib/moment.min.js}" src="../static/js/lib/moment.min.js"></script>
		<script th:src="@{/js/fullcalendar.js}" src="../static/js/fullcalendar.js"></script>

		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
		<script th:src="@{/js/calendar.js}" src="../static/js/calendar.js"></script>


		<script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


	</body>

</html>